*{
    font-family: sans-serif;
}

.post-container{
    width: 33.3%;
}

.post{

    margin-right: 35px;
    margin-bottom: 20px;
    min-height: 300px;
}

.card-header{
    font-weight: bolder;
    color:rgb(25, 216, 184);
}